.todo {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  margin: 1px;
}

.todo > label {
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  height: 100%;
  min-width: 80%;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background: rgb(255, 240, 103);
}

.todo > div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100%;
  width: 30%;
  border-radius: 5px;
  margin: 1px;
  background: rgb(241, 46, 46);
  cursor: pointer;
}
